
.DS_Store
**/.DS_Store
__pycache__/
*.py[cod]
.venv_pytests/

tb_ocaml/_build/
tb_ocaml/.zig-cache/
tb_ocaml/_build_tools/
tb_ocaml/_coverage/
tb_ocaml/bisect*.coverage
tb_ocaml/bisect*.out
tb_ocaml/*.tigerbeetle

zig/cache/
zig/zig
